/**/node_modules/
/**/.idea/

/**/backend.tf
/**/.terraform/
/**/.terraform.lock.hcl
/**/terraform.lock.hcl
/**/terraform.tfstate

/marketing-site/content/css/fontawesome.min.css
/marketing-site/content/js/fontawesome.min.js
/marketing-site/content/webfonts/*

/**/.DS_Store

electron/dist
electron/build
electron/package-lock.json
