@import "./fontawesome/css/fontawesome.min.css";
@import "./fontawesome/css/solid.css";

@import "tailwind.css";
@import "button.css";

html {
    height:100%;
}

body {
    margin: 0;
    height:100%;
    width: 100%;
    background-color: #F4F4F4;
}

#root {
    height: 100%;
    width: 100%;
}

.bg-teal {
    background-color: #58CFA5;
}

.border-teal {
    border-color: #06CEA3;
}

.text-teal {
    color: #58CFA5;
}

.text-icon-gray {
    color: #A3A1A1;
}
